TellerB1/Processor/Connected Services/ServiceReference/Simulacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Simulador.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Simulador.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Simulador.org/">
      <s:element name="CompletarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequestDatosPersonales" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequestDatosPersonales">
        <s:complexContent mixed="false">
          <s:extension base="tns:Pedido">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="datos" type="tns:Cliente" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Pedido">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="tipo" type="tns:TipoPedido" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TipoPedido">
        <s:restriction base="s:string">
          <s:enumeration value="transferencia" />
          <s:enumeration value="retiro" />
          <s:enumeration value="deposito" />
          <s:enumeration value="datosPersonales" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="Cliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellidos" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Balance" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Cedula" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CompletarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompletarClienteResult" type="tns:ResponseDatosPersonales" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseDatosPersonales">
        <s:complexContent mixed="false">
          <s:extension base="tns:Respuesta">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="datos" type="tns:Cliente" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Respuesta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="tipo" type="tns:TipoRespuesta" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TipoRespuesta">
        <s:restriction base="s:string">
          <s:enumeration value="confimacion" />
          <s:enumeration value="DatosPersonales" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CompletarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:CompletarCliente" />
  </wsdl:message>
  <wsdl:message name="CompletarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:CompletarClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="SimulacionSoap">
    <wsdl:operation name="CompletarCliente">
      <wsdl:input message="tns:CompletarClienteSoapIn" />
      <wsdl:output message="tns:CompletarClienteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SimulacionSoap" type="tns:SimulacionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CompletarCliente">
      <soap:operation soapAction="http://Simulador.org/CompletarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SimulacionSoap12" type="tns:SimulacionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CompletarCliente">
      <soap12:operation soapAction="http://Simulador.org/CompletarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Simulacion">
    <wsdl:port name="SimulacionSoap" binding="tns:SimulacionSoap">
      <soap:address location="http://localhost:61616/Simulacion.asmx" />
    </wsdl:port>
    <wsdl:port name="SimulacionSoap12" binding="tns:SimulacionSoap12">
      <soap12:address location="http://localhost:61616/Simulacion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>